@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #242426;
    color: #EDEDFC;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.toolbar {
    background-color: #008F8C;
    width: 100%;
    margin: 0;
    padding: 0;
}
.content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 1rem;
}
button {
    background-color: #015958;
    color: #EDEDFC;
    border: 1px solid #023535;
    border-radius: 5px;
    text-align: center;
    width: 5rem;
    padding: .5rem;
    margin-right: .5rem;
    outline: none;
}
button:hover {
    background-color: #023535;
    cursor: pointer;
    outline: none;
}
label {
    margin-right: .3rem;
}
select, select:hover, select:focus {
    background-color: #015958;
    color: #EDEDFC;
    border: 1px solid #023535;
    border-radius: 5px;
    width: 10rem;
    padding: .5rem;
    outline: none;
    margin-right: .5rem;
}