body {
    background-color: #242426;
    color: #EDEDFC;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.toolbar {
    background-color: #008F8C;
    width: 100%;
}
.toolbar button {
    margin: 5px;
    padding: 5px;
    background-color: #015958;
    color: #EDEDFC;
    border: 1px solid #023535;
    border-radius: 5px;
}
.toolbar button:hover {
    background-color: #023535;
    cursor: pointer;
}